body {
  margin: 0;
  padding: 80px;

  background-image: url("images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #e0e0e0;
  font-family: monospace;
}
